.createAdOsnovniPodatki {
  width: 500px;
  border: 2px solid #555;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5rem 5rem;
  min-height: 545px;

  & div {
    display: grid;
    grid-template-columns: 25rem 19.5rem;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    & select,
    input {
      height: 4rem;
      width: 25rem;
      border: 2px solid #555;
      outline: none;
      padding-left: 0.8rem;
    }
    & input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type='number'] {
      -moz-appearance: textfield;
    }
  }
  & ::placeholder {
    color: #000;
    opacity: 1;
  }

  &__poraba {
    grid-template-columns: repeat(3, 14rem) !important;
    column-gap: 2px;
    & input {
      width: 100% !important;
    }
  }
}

.selectedOption {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  & img {
    display: block;
    margin: 0 auto;
  }
}

.emisijskiRazred-emisijeCO2 {
  grid-template-columns: 14.9rem 9.9rem 10.5rem 9rem !important;
  column-gap: 2px;

  & select,
  input {
    width: 100% !important;
  }
}

.steviloSedzev-Material {
  grid-template-columns: 14.9rem 9.9rem 10.5rem 9rem !important;
  column-gap: 2px;

  & select,
  input {
    width: 100% !important;
  }
}

.LetoMesec {
  grid-template-columns: 14.9rem 9.9rem 19.3rem !important;
  column-gap: 2px;

  & select {
    width: 100% !important;
  }
}

.potrjenaServisna {
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    cursor: pointer;
    width: 20px !important;
    height: 20px !important;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-left: 5rem;
  }
  & label:nth-of-type(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 0 auto;
  }
}
