@import './variables.scss';

.comparison-container {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  //grid-template-rows: repeat(4, 500px);
  justify-content: center;
  row-gap: 1rem;
  column-gap: 1rem;
  padding-top: 1rem;

  &__item {
    display: grid;
    height: auto;
    grid-template-rows: repeat(2, auto);
    row-gap: 0.5rem;
    border: 1px solid#555;

    padding: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    &--img {
      position: relative;
      padding-top: 56.25%;

      & div {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }

      & img {
        display: block;
        height: 100%;
        max-width: 100%;
        object-fit: cover; //scale-down
      }
    }

    &--data {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(3, auto) 40px auto;
      justify-content: center;
      align-content: center;
      //column-gap: 10px;
      //row-gap: 5px;
      padding-left: 1.5rem;
      padding-right: 1.5rem;

      & div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0.6rem;
      }

      & div:first-child {
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        padding: 0.2rem;
      }
      & div:nth-child(2) {
        border-left: 1px solid rgba(0, 0, 0, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        padding: 0.2rem;
      }
      & div:nth-child(3) {
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      }
      & div:nth-child(4) {
        border-left: 1px solid rgba(0, 0, 0, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      }
      & div:nth-child(5) {
        border-right: 1px solid rgba(0, 0, 0, 0.3);
      }
      & div:nth-child(6) {
        border-left: 1px solid rgba(0, 0, 0, 0.3);
      }

      & a {
        margin: 0 auto;
        align-self: center;
      }

      & .cena {
        border-top: 2px solid black;
        border-radius: 2px;
        width: 100%;
        margin: 0 auto;
        grid-row: 4 / 5;
        grid-column: 1 / -1;
        font-size: 1.8rem;
        font-weight: 600;
        padding-top: 1.5rem;
      }

      & .ogled {
        grid-column: 1 / -1;
        background-color: white;
        width: 100%;
        height: 80%;

        text-align: center;
        line-height: 2.5;
        color: #555;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: 1px;
        transition: all 0.3s;
        border: 2px solid #555;
        margin-top: 1rem;

        &:hover {
          color: white;
          background-color: #555;
          box-shadow: $shadow;
        }
      }

      &--primerjavaData {
        grid-column: 1 / -1;
        border-top: 2px solid black;
        border-radius: 2px;
        margin-top: 1rem;

        h4 {
          font-weight: 600;
          line-height: 0.5;
          padding-bottom: 1rem;
          font-size: 2rem;
        }
        ul li {
          list-style-position: inside;
        }

        &--opremaContainer {
          margin-bottom: -1.5rem;
        }

        &--oprema {
          width: 100%;
          border-top: 1px solid rgba($color: #000, $alpha: 0.3);
          border-left: 0px !important;
          border-right: 0px !important;
          border-bottom: 0px !important;
          ul {
            padding-bottom: 1rem;
          }
          h3 {
            line-height: 1;
            font-size: 1.8rem;
            font-weight: 600;
          }
        }
      }
    }

    &--justPrimerjajPng {
      grid-column: 1 / -1;
      margin-top: 1.5rem;
      margin-bottom: 1rem;

      img {
        width: 30px;
        height: 30px;
        display: block;
        cursor: pointer;
      }
      p {
        margin-top: 0.5rem;
        line-height: 1;
        text-align: center;
        font-size: 1.4rem;
      }
    }
  }
}
