.comparisonPage {
  display: grid;
  grid-template-columns:
    [full-start] minmax(3rem, 1fr) [center-start]
    repeat(10, [col-start] minmax(min-content, 12rem) [col-end])
    [center-end] minmax(3rem, 1fr) [full-end];
  justify-content: center;

  &__zero {
    grid-column: 1 / -1;
    justify-self: center;
    margin-top: 10rem;
    font-size: 2rem;
    margin-bottom: 80vh;
  }
}
