@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

$primary-color: #4ba82e; //#3abfbc;
$gray: #e8e9eb;
$font: 1.6rem;
$h1: 2.5rem;
$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
