@import '../variables.scss';

.adList-sidebarRight {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  justify-self: end;
  transition: all 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 55px;

  & label {
    color: black;
    font-size: 1.6rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
  }

  & select {
    width: 18rem;
    height: 2.8rem;
    font-size: 1.3rem;
    border: 1px solid #555;
    outline: none;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
  }

  &--true {
    height: 40px;
    & label {
      font-size: 1.3rem;
      margin-right: 1rem;
    }

    & select {
      width: 15rem;
      height: 2.5rem;
      font-size: 1.2rem;
    }
  }
}
