@import '../variables.scss';

.list-container {
  display: grid;
  grid-template-rows: auto auto 100px;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start]
    repeat(8, [col-start] minmax(min-content, 12rem) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];

  background-color: rgba($gray, 0.5);
}
